@import './scss/main-container.scss';
@import './scss//favorites-container.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  &:focus {
    outline: none;
  }
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: 'Roboto';
  color: #333333;
}
.flex-container {
  max-width: 144rem;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  .sandwitch-menu {
    display: none;
    justify-content: start;
    width: fit-content;
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 100;
    .sandwitch {
      margin: 0 1rem;
      cursor: pointer;
    }
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.8rem;
      color: #ABABAB;
      margin-bottom: 2rem;
    }
  }
}
@media only screen and (max-width: 380px) {
  .flex-container {
    .sandwitch-menu {
      top: 2rem;
      right: 2rem;
    }
    .main-container {
      .main {
        padding: 2rem;
        .jokes-list {
          .single-joke {
            padding: 4.7rem 2rem 2rem 8rem;
            .add-to-fav {
              top: 2rem;
              right: 2rem;
            }
            .message-icon {
              top: 4.7rem;
              left: 2rem;
            }
            .footer-list {
              .hours {
              padding-bottom: 1rem;
              margin-right: 3rem;
            }
            }
          }
        }
      }
    }
    .favorites-container {
      .favorites {
        padding: 8.8rem 2rem 2rem 2rem;
    }
    }
  }
}
@media only screen and (max-width: 834px) {
    .flex-container {
      .sandwitch-menu {
        display: flex;
      }
      .dark {
        background: rgba(0, 0, 0, 0.3);
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
      }
      .tablet {
        left: -2px;
        top: 0px;
        position: absolute;
      }
      .favorites-container {
        max-width: 48rem;
        z-index: 99;
        position: fixed;
        top: 0;
        right: 0;
        h1 {
          display: none;
        }
      }
      .open {
        display: block
      }
      .close {
        display: none;
      }
      .main-container {
        .main {
          .search-container {
            form {
              .radio-container {
                .categories-container {
                  justify-content: start;
                  max-width: unset;
                  .categories-radio-container  {
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
}

@media only screen and (min-width: 381px) and (max-width: 834px) {
  .flex-container {
    .main-container {
      .main {
        padding: 4rem;
      }
    }
    .favorites-container {
      .favorites {
        padding: 8.8rem 4rem 4rem 4rem;
      }
    }
  }
}
